*{
    font-family: Tajawal,sans-serif;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.container{
    margin-left: auto;
    margin-right: auto;
}

nav{
    max-width: 1200px;
    background: #F9FaFC;
}
/* ********* */
/* togle-bar */

nav .togle-bar{
    display: none;
    background: #484848;
    padding: 20px;
    justify-content: space-between;
    color:#fff;
}

nav .togle-bar .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
}

nav .togle-bar .icon span{
    width:30px;
    border-top: 3px solid #fff;
}
/* togle-bar */
/* ********* */

nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #e5e9f2;
}

nav ul #nav-bar-list{
    display: flex;
}

nav ul li{
    display: inline-block;
    height: 40px;
    min-width: 40px;
    padding: 0 15px;
    border-right: 1px solid #e5e9f2;
   
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: #42526e;
    line-height: 40px;
    width:100%;
    font-size: 16px;
    font-weight: bold;
}

nav ul li a span{
    display: inline-block;
    margin-left: 5px;
}



/* ******** */
/* box-search */
/* ******** */
header .box-search{
    padding: 20px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

header .box-search img{
    width: 200px;
}

header .box-search .search {
    position: relative;
    line-height: 50px;
    width: 70%;
}

header .box-search .search .search-icon{
    position: absolute;
    top:25%;
    left: 2%;
    opacity: 0.5;
    font-size: 22px;
}

header .box-search .search input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 0 20px;
    background-color: #e5e9f2;
    border: none;
    outline: none;
}

header .box-search .crad{
    line-height: 50px;
}


/* ***** */
/* slider1 */
/* ***** */

.slider1{
    height: 80vh;
 
}

.slider1{
     width: 80%;
     background-image: url("../slider/lock.jpg");
     background-repeat: no-repeat;
     background-size: cover;
   
    animation: mov-slider;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
  
}
@keyframes mov-slider{
    0%{
        background-image: url('../slider/card-1.jpeg');
    }
    25%{
        background-image: url('../slider/lock.jpg');
        /*transform: translateX(-100%); */   
    }
    70%{
        background-image: url('../slider/post-06.jpg');
        /*transform: translateX(-100%); */   
    }
}

/* ******* */
/*Footer*/
/* ****** */
footer
{ 
    display: flex;
    padding: 25px 25px;
    background: #333;
    flex-wrap: wrap;
}

.container-footer{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer-items{
    margin-top: 10px;
    width: 15%;
}

footer .subscriub{
width: 25%;
}

footer .box-connect{
    margin: 10px;
    background-color: #484848;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
}

footer .footer-items h3{
    color: #a6a6a6;
    padding-bottom: 10px;
    border-bottom: 1px solid #a6a6a6;
    font-size: 14px;
    
    }

footer .box-connect input{
height: 35px;
width: 100%;
line-height: 35px;
}

footer .footer-items button{
    align-items: center;
    cursor: pointer;
    min-height: 40px;
    min-width: 40px;
    padding: 4px 16px;
    line-height: 1.9;
    font-family: Tajawal,sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}

footer .box-connect .sub-input{
    position: relative;
}

footer .box-connect form span{
    position: absolute;
    display: inline-block;
    left:5%;
    line-height: 35px;
    opacity: 0.5;
 }

 footer .sotical-media ul{
     padding: 10px 0;
 }

 footer .sotical-media ul li{
     display: inline;
 }

 footer .sotical-media ul li img{
    width: 30px;
    border-radius: 50%;
}

footer .list-item ul li{
    display: block;
    line-height: 2;
    font-weight: 350;
    font-size: 16px;
}

/* ****** */
/* buttom footer */
/* ****** */

 .buttom {
     padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #a6a6a6;
}

 .buttom .pyment{
  width: 50%;  
}

.buttom ul li {
display: inline-block;
height: 50px;
line-height: 50px;
}

.buttom ul li img {
    width: 80px;
    height: 50px;
    }

 .buttom .copy-right{
    width: 50%;
}

/*Login Register Modal*/

/*Timer*/
.timer{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    color:red
}

/* modal_container */

.modal_container{
    background: #ccc;
    position: absolute;
    top:0%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
    color:rgb(150, 144, 144);
}
.modal_container span{
    font-size:50px;
    color: rgb(236, 44, 44);
}
.modal_container span:hover{
    font-size: 60px;
    font-weight: bold;
    color: crimson;
    cursor: pointer;
}
.modal_container .register_log_modal{
    background: #fff;
    width: 50vw;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:991px){
    .modal_container .register_log_modal{
    width: 90vw;
    }
}
.modal_container .body .header{
    border-bottom: 1px solid rgb(145, 143, 143);
    width: 100%;
    padding-bottom: 20px
    
}
.modal_container .body .header h2{
    text-align: center;
}
.modal_container #login-btn,#register-btn{
   width: 100%;
   padding: 10px;
   
   cursor: pointer;
}

.modal_container .body{
    padding: 10px;
}
.modal_container .body form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal_container p{
    font-size: 20px;
    text-align: center;
}
.modal_container .body form input{
    width: 100%;
}
.modal_container .body form input,select{
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
    transition: 0.3s border-color ease; 
    outline: none;
    background: #9ca6b4;
    border-radius: 5px;
   
}
.modal_container .body .phone{
    width: 100%;
    display: flex;
}
.modal_container .body .phone input{
    width:90%
}


.modal_container  .body form .checkbox{
    width: 100%;
}
.modal_container .checkbox .check-item{
    display: flex;
}
.modal_container .checkbox .check-item  input{
    width: 10%;
    height: 20px;
}


.modal_container button, .body form button{
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    font-weight: 700;
    font-size: 20px;
    color: #35537d;
    background-color: #fff;
    border: 1px solid #fdeeed;
    box-shadow: 0 5px 5px  rgba(0, 0, 0, 0.5);
    transition-duration: .5s;
    border-radius: 5px;  
}

.modal_container .login{
    display: none;
}


